@media screen and (min-width: 1170px) {
    .pure-u-desktop-1,
    .pure-u-desktop-1-1,
    .pure-u-desktop-1-2,
    .pure-u-desktop-1-3,
    .pure-u-desktop-2-3,
    .pure-u-desktop-1-4,
    .pure-u-desktop-3-4,
    .pure-u-desktop-1-5,
    .pure-u-desktop-2-5,
    .pure-u-desktop-3-5,
    .pure-u-desktop-4-5,
    .pure-u-desktop-5-5,
    .pure-u-desktop-1-6,
    .pure-u-desktop-5-6,
    .pure-u-desktop-1-8,
    .pure-u-desktop-3-8,
    .pure-u-desktop-5-8,
    .pure-u-desktop-7-8,
    .pure-u-desktop-1-12,
    .pure-u-desktop-5-12,
    .pure-u-desktop-7-12,
    .pure-u-desktop-11-12,
    .pure-u-desktop-1-24,
    .pure-u-desktop-2-24,
    .pure-u-desktop-3-24,
    .pure-u-desktop-4-24,
    .pure-u-desktop-5-24,
    .pure-u-desktop-6-24,
    .pure-u-desktop-7-24,
    .pure-u-desktop-8-24,
    .pure-u-desktop-9-24,
    .pure-u-desktop-10-24,
    .pure-u-desktop-11-24,
    .pure-u-desktop-12-24,
    .pure-u-desktop-13-24,
    .pure-u-desktop-14-24,
    .pure-u-desktop-15-24,
    .pure-u-desktop-16-24,
    .pure-u-desktop-17-24,
    .pure-u-desktop-18-24,
    .pure-u-desktop-19-24,
    .pure-u-desktop-20-24,
    .pure-u-desktop-21-24,
    .pure-u-desktop-22-24,
    .pure-u-desktop-23-24,
    .pure-u-desktop-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-desktop-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .pure-u-desktop-1-12,
    .pure-u-desktop-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-desktop-1-8,
    .pure-u-desktop-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .pure-u-desktop-1-6,
    .pure-u-desktop-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-desktop-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .pure-u-desktop-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .pure-u-desktop-1-4,
    .pure-u-desktop-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-desktop-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .pure-u-desktop-1-3,
    .pure-u-desktop-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-desktop-3-8,
    .pure-u-desktop-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .pure-u-desktop-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .pure-u-desktop-5-12,
    .pure-u-desktop-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-desktop-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .pure-u-desktop-1-2,
    .pure-u-desktop-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-desktop-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .pure-u-desktop-7-12,
    .pure-u-desktop-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-desktop-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .pure-u-desktop-5-8,
    .pure-u-desktop-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .pure-u-desktop-2-3,
    .pure-u-desktop-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-desktop-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .pure-u-desktop-3-4,
    .pure-u-desktop-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-desktop-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .pure-u-desktop-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .pure-u-desktop-5-6,
    .pure-u-desktop-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-desktop-7-8,
    .pure-u-desktop-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .pure-u-desktop-11-12,
    .pure-u-desktop-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-desktop-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .pure-u-desktop-1,
    .pure-u-desktop-1-1,
    .pure-u-desktop-5-5,
    .pure-u-desktop-24-24 {
        width: 100%;
    }
}

@media only screen and (min-width: 0px) and (max-width: 568px) {
    .pure-u-mobile-1,
    .pure-u-mobile-1-1,
    .pure-u-mobile-1-2,
    .pure-u-mobile-1-3,
    .pure-u-mobile-2-3,
    .pure-u-mobile-1-4,
    .pure-u-mobile-3-4,
    .pure-u-mobile-1-5,
    .pure-u-mobile-2-5,
    .pure-u-mobile-3-5,
    .pure-u-mobile-4-5,
    .pure-u-mobile-5-5,
    .pure-u-mobile-1-6,
    .pure-u-mobile-5-6,
    .pure-u-mobile-1-8,
    .pure-u-mobile-3-8,
    .pure-u-mobile-5-8,
    .pure-u-mobile-7-8,
    .pure-u-mobile-1-12,
    .pure-u-mobile-5-12,
    .pure-u-mobile-7-12,
    .pure-u-mobile-11-12,
    .pure-u-mobile-1-24,
    .pure-u-mobile-2-24,
    .pure-u-mobile-3-24,
    .pure-u-mobile-4-24,
    .pure-u-mobile-5-24,
    .pure-u-mobile-6-24,
    .pure-u-mobile-7-24,
    .pure-u-mobile-8-24,
    .pure-u-mobile-9-24,
    .pure-u-mobile-10-24,
    .pure-u-mobile-11-24,
    .pure-u-mobile-12-24,
    .pure-u-mobile-13-24,
    .pure-u-mobile-14-24,
    .pure-u-mobile-15-24,
    .pure-u-mobile-16-24,
    .pure-u-mobile-17-24,
    .pure-u-mobile-18-24,
    .pure-u-mobile-19-24,
    .pure-u-mobile-20-24,
    .pure-u-mobile-21-24,
    .pure-u-mobile-22-24,
    .pure-u-mobile-23-24,
    .pure-u-mobile-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-mobile-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .pure-u-mobile-1-12,
    .pure-u-mobile-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-mobile-1-8,
    .pure-u-mobile-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .pure-u-mobile-1-6,
    .pure-u-mobile-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-mobile-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .pure-u-mobile-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .pure-u-mobile-1-4,
    .pure-u-mobile-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-mobile-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .pure-u-mobile-1-3,
    .pure-u-mobile-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-mobile-3-8,
    .pure-u-mobile-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .pure-u-mobile-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .pure-u-mobile-5-12,
    .pure-u-mobile-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-mobile-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .pure-u-mobile-1-2,
    .pure-u-mobile-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-mobile-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .pure-u-mobile-7-12,
    .pure-u-mobile-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-mobile-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .pure-u-mobile-5-8,
    .pure-u-mobile-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .pure-u-mobile-2-3,
    .pure-u-mobile-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-mobile-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .pure-u-mobile-3-4,
    .pure-u-mobile-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-mobile-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .pure-u-mobile-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .pure-u-mobile-5-6,
    .pure-u-mobile-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-mobile-7-8,
    .pure-u-mobile-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .pure-u-mobile-11-12,
    .pure-u-mobile-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-mobile-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .pure-u-mobile-1,
    .pure-u-mobile-1-1,
    .pure-u-mobile-5-5,
    .pure-u-mobile-24-24 {
        width: 100%;
    }
}

@media only screen and (min-width: 569px) and (max-width: 1169px) {
    .pure-u-tablet-1,
    .pure-u-tablet-1-1,
    .pure-u-tablet-1-2,
    .pure-u-tablet-1-3,
    .pure-u-tablet-2-3,
    .pure-u-tablet-1-4,
    .pure-u-tablet-3-4,
    .pure-u-tablet-1-5,
    .pure-u-tablet-2-5,
    .pure-u-tablet-3-5,
    .pure-u-tablet-4-5,
    .pure-u-tablet-5-5,
    .pure-u-tablet-1-6,
    .pure-u-tablet-5-6,
    .pure-u-tablet-1-8,
    .pure-u-tablet-3-8,
    .pure-u-tablet-5-8,
    .pure-u-tablet-7-8,
    .pure-u-tablet-1-12,
    .pure-u-tablet-5-12,
    .pure-u-tablet-7-12,
    .pure-u-tablet-11-12,
    .pure-u-tablet-1-24,
    .pure-u-tablet-2-24,
    .pure-u-tablet-3-24,
    .pure-u-tablet-4-24,
    .pure-u-tablet-5-24,
    .pure-u-tablet-6-24,
    .pure-u-tablet-7-24,
    .pure-u-tablet-8-24,
    .pure-u-tablet-9-24,
    .pure-u-tablet-10-24,
    .pure-u-tablet-11-24,
    .pure-u-tablet-12-24,
    .pure-u-tablet-13-24,
    .pure-u-tablet-14-24,
    .pure-u-tablet-15-24,
    .pure-u-tablet-16-24,
    .pure-u-tablet-17-24,
    .pure-u-tablet-18-24,
    .pure-u-tablet-19-24,
    .pure-u-tablet-20-24,
    .pure-u-tablet-21-24,
    .pure-u-tablet-22-24,
    .pure-u-tablet-23-24,
    .pure-u-tablet-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-tablet-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .pure-u-tablet-1-12,
    .pure-u-tablet-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-tablet-1-8,
    .pure-u-tablet-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .pure-u-tablet-1-6,
    .pure-u-tablet-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-tablet-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .pure-u-tablet-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .pure-u-tablet-1-4,
    .pure-u-tablet-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-tablet-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .pure-u-tablet-1-3,
    .pure-u-tablet-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-tablet-3-8,
    .pure-u-tablet-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .pure-u-tablet-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .pure-u-tablet-5-12,
    .pure-u-tablet-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-tablet-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .pure-u-tablet-1-2,
    .pure-u-tablet-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-tablet-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .pure-u-tablet-7-12,
    .pure-u-tablet-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-tablet-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .pure-u-tablet-5-8,
    .pure-u-tablet-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .pure-u-tablet-2-3,
    .pure-u-tablet-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-tablet-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .pure-u-tablet-3-4,
    .pure-u-tablet-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-tablet-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .pure-u-tablet-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .pure-u-tablet-5-6,
    .pure-u-tablet-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-tablet-7-8,
    .pure-u-tablet-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .pure-u-tablet-11-12,
    .pure-u-tablet-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-tablet-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .pure-u-tablet-1,
    .pure-u-tablet-1-1,
    .pure-u-tablet-5-5,
    .pure-u-tablet-24-24 {
        width: 100%;
    }
}