@import 'vars.less';

html{
	body{		
		section{
			#listaAtuacao{
				margin-top:15px;
				li{
					margin-bottom:10px;
					&:last-child{margin-bottom:0;}
					a{
						color:@cinzaEscuro;
						text-decoration:none;
						padding-left:9px;
						background:url('../images/layout/setinha-menu-azul.png') left 47% no-repeat;
						.scada(14px, bold);
						.transition;
						&:active, &:visited{color:@cinzaEscuro;}
						&:hover, &.ativo{color:@azul;}
					}
				}
			}
		}
	}
}
