@import 'vars.less';

h1#pagenotfound{
	display:block;
	margin:100px 0;
	text-align:center;
	color:@azul;
	.scada(30px);
}

#scrollTopBtn,
#mobileAbrirMenu{
	display:none;	
}

@media @desktop{
html{
	body{
		header{
			position:relative;
			nav{
				height:40px;
				background:@azul;
				ul{
					.centralizarDesktop;
					font-size:0;
					li{
						.inline;
						margin-right:35px;
						a{
							height:40px;
							line-height:40px;
							display:block;
							text-decoration:none;
							.scada(14px);
							color:#fff;
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover, &.ativo, &.ativoTemp{color:@azulClaro;}							
						}
						&#linkLang{
							float:right;
							a{
								font-size:10px;
								.transition;
								&:active, &:visited{}
								&:hover{}
							}
						}
					}
				}
			}
			.submenu{
				position:absolute;
				left:0;
				top:40px;
				width:100%;
				margin-top: 1px;
				background: rgba(0,80,159,.9);
				background: url('rgba.php/rgba(0,80,159,.9)');
				padding:0;
				opacity:0;
				z-index:-1;
				.transition;
				.centro{
					.centralizarDesktop;
				}
				&.aberto{
					padding:15px 0;
					opacity:1;
					z-index:9999999;
					ul{opacity:1;}
					&.aberto-pieron{
						.sub-pieron{
							display:block;
						}
						.sub-atuacao{
							display:none
						}
					}
					&.aberto-atuacao{
						.sub-pieron{
							display:none
						}						
						.sub-atuacao{
							display:block;
						}
					}
				}
				ul{
					font-size:0;
					opacity:0;
					.transition;
					&.sub-pieron{
						display:none;
					}
					&.sub-atuacao{
						display:none;
						margin-left:90px;
					}
					li{
						margin-bottom:10px;
						&:last-child{margin-bottom:0;}
						a{
							color:#fff;
							text-decoration:none;
							padding-left:9px;
							background:url('../images/layout/setinha-submenu-azulclaro.png') left 47% no-repeat;
							.scada(14px);
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover, &.ativo{color:@azulClaro;}
						}
					}
				}	
			}
		}
		.main{
			.cke{
				width:100%;
				max-width: 500px;
				p{
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					font-size:14px;
					margin:5px 0;
					padding:0;
					max-width:100%;
					color:#4D4D4D;
					font-weight: normal;
				}
				p.destaque1{
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					margin:5px 0;
					font-size:16px;
					padding: 20px 0;
					max-width:100%;
					color:#00509F;
					font-weight: bold;
					position:relative;
				}
				p.destaque1:after{
					background:#00509F;
					width:100px;
					height:1px;
					display:block;
					content:"";
					position:absolute;
					bottom:0;
					left:0;
				}
				p.subtitulo{
					font-weight: bold;
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					margin:5px 0;
					padding:0;
					font-size:14px;
					color:#00509F;					
				}
				p.destaque2{
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					margin:2px 0;
					font-size:14px;
					color:#4D4D4D;
					max-width:100%;
					font-weight: normal;	
					padding: 10px 0;
					border-bottom:1px #4D4D4D solid;
				}		
				ul, ol{
					list-style: inside;
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					margin:5px 0;
					padding:0;
					font-size:14px;
					color:#4D4D4D;
					font-weight: normal;
				}
				ol{
					list-style: inside decimal !important;
				}
				a{
					text-decoration: none;
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					margin:5px 0;
					padding:0;
					font-size:14px;
					color:#00509F;
					font-weight: normal;
					-webkit-transition:all .3s ease-in;
				   	-moz-transition:all .3s ease-in;
				   	-o-transition:all .3s ease-in;
				   	transition:all .3s ease-in;	
				}
				a:hover{
					color:#74A0CB;
				}
				strong{font-weight: bold !important;}
				em{font-style: italic !important; }
				sub{vertical-align: sub !important; font-size:80%;}
				sup{vertical-align: super !important; font-size:80%;}
				img{
					max-width: 100%;
					display:block;
					margin:7px auto;
				}
			}
			.centro{
				.centralizarDesktop;
				#topo{
					margin-bottom:60px;
					#logo-link{
						display:block;
						margin-top:60px;
						width:210px;
						height:52px;
						img{
							max-width: 100%;
							max-height: 100%;
						}
					}
					#banner-topo{
						img{
							//float:right;
							width: 100%;
						}
					}
				}
				#miolo{
					margin-bottom:75px;
					aside{
						h1{
							.scada(16px, bold);
							color:@azul;
							text-transform:uppercase;
							margin-bottom:7px;
						}
						ul{
							max-width:250px;
							width:100%;
							li{
								margin-bottom:5px;
								a{
									background:url('../images/layout/setinha-menu-azul.png') left center no-repeat;
									padding-left:10px;
									color:@azul;
									.scada(14px);
									.transition;
									&:active, &:visited{color:@azul;}
									&:hover, &.ativo{
										color:#000;
									}
								}
							}
						}
					}
					section{
						h1{
							.aleo(30px);
							color:@azul;
							margin-bottom:35px;
							text-transform:uppercase;
						}
					}
					#contato-local{
						form{
							.transition;
							max-width:250px;
							width:100%;
							float:right;
							opacity:1;
							height:auto;
							&.escondido{
								opacity:0;
								height:0;
							}
							&.enviando{
								opacity:0.5;
							}
							h2{
								.scada(16px);
								color:#000;
								margin-bottom:25px;
								text-transform:uppercase;
							}
							input[type="text"],
							input[type="email"]{
								display:block;
								border:0;
								margin:0 0 3px 0;
								padding:4px 10px;
								width:100%;
								color:#000;
								.placeholder(#000);
								.scada(12px);
								box-sizing:border-box;
								background:@cinzaClaro;
							}
							textarea{
								display:block;
								border:0;
								height:240px;
								resize:none;
								margin:0;
								padding:4px 10px;
								width:100%;
								color:#000;
								.placeholder(#000);
								.scada(12px);
								box-sizing:border-box;
								background:@cinzaClaro;
							}
							#selectPlaceholder{
								margin:0 0 3px 0;
								position:relative;
								select.selectOriginalCursosontato{
									display:block;
									border:0;
									padding:4px 10px;
									width:100%;
									color:#000;
									.placeholder(#000);
									.scada(12px);
									box-sizing:border-box;
									background:@cinzaClaro;
									position:absolute;
									z-index:9999;
								}
								.selectContato{
									display:block;
									z-index:9;
									border:0;
									padding:5px 10px;
									width:100%;
									color:#000;
									.scada(12px);
									box-sizing:border-box;
									background:url('../images/layout/seta-combobox.png') @cinzaClaro 98% center no-repeat;
								}
							}					
							input[type="submit"]{
								display:block;
								width:100%;
								height:30px;
								line-height:27px;
								text-align: right;
								border:0;
								padding:0;
								background:#fff;
								cursor:pointer;
								.transition;
								border-top:1px #000 solid;
								border-bottom:1px #000 solid;
								color:#000;
								.scada(12px, bold);
								&:hover{
									color:@azul;
								}
							}
						}
						.resposta{
							max-width:250px;
							width:100%;
							box-sizing:border-box;
							padding:30px 5px;
							color:@azul;
							.scada(18px);
							text-align:center;
							.transition;
						}
					}
				}				
			}
		}
		footer{
			background:#000;
			padding:35px 0 0px 0;
			clear:both;
			.centro{
				.centralizarDesktop;				
			}
			ul{
				margin-right:40px;
				.inline;
				li{
					margin-bottom:4px;
					&.toplink a{
						padding-left:0;
						background:none;
						color:#fff;
						font-weight: bold;
						text-transform: uppercase;
					}
					&.toplink + .toplink{
						margin-top:20px;
					}
					a{
						color:@cinza;
						padding-left:9px;
						background:url('../images/layout/setinha-menu-azul.png') left 47% no-repeat;
						.scada(14px);
						.transition;
						&:active, &:visited{}
						&:hover{
							color:@azulClaro;
						}
					}
				}
			}
			.listaUnidades{
				.inline;
				.unidade{
					padding-left:20px;
					background:url('../images/layout/pin-endereco.png') left top no-repeat;
					h2{
						color:#fff;
						.scada(14px, bold);
						margin:4px 0;
					}
					p{
						color:@cinza;
						.scada(13px);
						line-height: 160%;
						a{
							color:@cinza;
							.transition;
							&:active, &:visited{color:@cinza;}
							&:hover{color:@azulClaro;}
						}
					}
					&:first-child{
						margin-bottom:20px;
					}
				}
			}
			.marcaPieron{
				float:right;
				width:110px;
				color:#fff;
				line-height: 140%;
				.scada(13px);
				img{
					margin-bottom:25px;
				}
			}
			.assinatura{
				height:35px;
				line-height:35px;
				text-align: center;
				margin-top:25px;
				display:block;
				background:#fff;
				.scada(11px);
				color:#000;
				a{
					.transition;
					color:#000;
					text-decoration: none;
					border-bottom:1px transparent dotted;
					&:active, &:visited{color:#000;}
					&:hover, &.ativo{
						border-bottom:1px #000 dotted;
					}
				}
			}
		}
	}
}
}

@media @tablet{
html{
	body{
		header{
			position:relative;
			nav{
				height:40px;
				background:@azul;
				ul{
					font-size:0;
					.centralizarTablet;
					li{
						.inline;
						margin-right:35px;
						a{
							height:40px;
							line-height:40px;
							display:block;
							text-decoration:none;
							.scada(12px);
							color:#fff;
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover, &.ativo, &.ativoTemp{color:@azulClaro;}							
						}
						&#linkLang{
							display:block;
							position:absolute;
							top:55px;
							z-index: 999;
							right:25px;
							height:20px;

							background: #fff;
							a{
								line-height:20px;
								font-size:10px;
								padding:2px 4px;
								.transition;
								color:@azul;
								&:active, &:visited{color:@azul;}
								&:hover{}
							}
						}
					}
				}
			}
			.submenu{
				position:absolute;
				left:0;
				top:40px;
				width:100%;
				margin-top: 1px;
				background: rgba(0,80,159,.9);
				background: url('rgba.php/rgba(0,80,159,.9)');
				padding:0;
				opacity:0;
				z-index:-1;
				.centro{
					.centralizarTablet;
				}
				.transition;
				&.aberto{
					padding:15px 0;
					opacity:1;
					z-index:9999999;
					ul{opacity:1;}
					&.aberto-pieron{
						.sub-pieron{
							display:block;
						}
						.sub-atuacao{
							display:none
						}
					}
					&.aberto-atuacao{
						.sub-pieron{
							display:none
						}						
						.sub-atuacao{
							display:block;
						}
					}
				}
				ul{
					font-size:0;
					opacity:0;
					.transition;
					&.sub-pieron{
						display:none;
					}
					&.sub-atuacao{
						display:none;
						margin-left:90px;
					}
					li{
						margin-bottom:10px;
						&:last-child{margin-bottom:0;}
						a{
							color:#fff;
							text-decoration:none;
							padding-left:9px;
							background:url('../images/layout/setinha-submenu-azulclaro.png') left 47% no-repeat;
							.scada(14px);
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover, &.ativo{color:@azulClaro;}
						}
					}
				}	
			}
		}
		.main{
			.cke{
				width:100%;
				p{
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					font-size:14px;
					margin:5px 0;
					padding:0;
					max-width:100%;
					color:#4D4D4D;
					font-weight: normal;
				}
				p.destaque1{
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					margin:5px 0;
					font-size:16px;
					padding: 20px 0;
					max-width:100%;
					color:#00509F;
					font-weight: bold;
					position:relative;
				}
				p.destaque1:after{
					background:#00509F;
					width:100px;
					height:1px;
					display:block;
					content:"";
					position:absolute;
					bottom:0;
					left:0;
				}
				p.subtitulo{
					font-weight: bold;
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					margin:5px 0;
					padding:0;
					font-size:14px;
					color:#00509F;					
				}
				p.destaque2{
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					margin:2px 0;
					font-size:14px;
					color:#4D4D4D;
					max-width:100%;
					font-weight: normal;	
					padding: 10px 0;
					border-bottom:1px #4D4D4D solid;
				}		
				ul, ol{
					list-style: inside;
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					margin:5px 0;
					padding:0;
					font-size:14px;
					color:#4D4D4D;
					font-weight: normal;
				}
				ol{
					list-style: inside decimal !important;
				}
				a{
					text-decoration: none;
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					margin:5px 0;
					padding:0;
					font-size:14px;
					color:#00509F;
					font-weight: normal;
					-webkit-transition:all .3s ease-in;
				   	-moz-transition:all .3s ease-in;
				   	-o-transition:all .3s ease-in;
				   	transition:all .3s ease-in;	
				}
				a:hover{
					color:#74A0CB;
				}
				strong{font-weight: bold !important;}
				em{font-style: italic !important; }
				sub{vertical-align: sub !important; font-size:80%;}
				sup{vertical-align: super !important; font-size:80%;}
				img{
					max-width: 100%;
					display:block;
					margin:7px auto;
				}
			}
			.centro{
				.centralizarTablet;
				#topo{
					margin-bottom:60px;
					#logo-link{
						display:block;
						margin-top:60px;
						width:210px;
						height:52px;
						img{
							max-width: 100%;
							max-height: 100%;
						}
					}
					#banner-topo{
						margin-top:20px;
						img{
							//float:right;
							width: 100%;
						}
					}
				}
				#miolo{
					margin-bottom:75px;
					aside{
						h1{
							.scada(16px, bold);
							color:@azul;
							text-transform:uppercase;
							margin-bottom:7px;
						}
						ul{
							max-width:250px;
							width:100%;
							li{
								margin-bottom:5px;
								a{
									background:url('../images/layout/setinha-menu-azul.png') left center no-repeat;
									padding-left:10px;
									color:@azul;
									.scada(14px);
									.transition;
									&:active, &:visited{color:@azul;}
									&:hover, &.ativo{
										color:#000;
									}
								}
							}
						}
					}
					section{
						margin-top:30px;
						h1{
							.aleo(30px);
							color:@azul;
							margin-bottom:35px;
							text-transform:uppercase;
						}
					}
					#contato-local{
						margin-top:30px;
						form{
							.transition;
							max-width:100%;
							width:100%;
							opacity:1;
							height:auto;
							&.escondido{
								opacity:0;
								height:0;
							}
							&.enviando{
								opacity:0.5;
							}
							h2{
								.scada(16px);
								color:#000;
								margin-bottom:25px;
								text-transform:uppercase;
							}
							input[type="text"],
							input[type="email"]{
								display:block;
								border:0;
								margin:0 0 3px 0;
								padding:4px 10px;
								width:100%;
								color:#000;
								.placeholder(#000);
								.scada(12px);
								box-sizing:border-box;
								background:@cinzaClaro;
							}
							textarea{
								display:block;
								border:0;
								height:240px;
								resize:none;
								margin:0;
								padding:4px 10px;
								width:100%;
								color:#000;
								.placeholder(#000);
								.scada(12px);
								box-sizing:border-box;
								background:@cinzaClaro;
							}
							#selectPlaceholder{
								margin:0 0 3px 0;
								position:relative;
								select.selectOriginalCursosontato{
									display:block;
									border:0;
									padding:4px 10px;
									width:100%;
									color:#000;
									.placeholder(#000);
									.scada(12px);
									box-sizing:border-box;
									background:@cinzaClaro;
									position:absolute;
									z-index:9999;
								}
								.selectContato{
									display:block;
									z-index:9;
									border:0;
									padding:5px 10px;
									width:100%;
									color:#000;
									.scada(12px);
									box-sizing:border-box;
									background:url('../images/layout/seta-combobox.png') @cinzaClaro 98% center no-repeat;
								}
							}					
							input[type="submit"]{
								display:block;
								width:100%;
								height:30px;
								line-height:27px;
								text-align: right;
								border:0;
								padding:0;
								background:#fff;
								cursor:pointer;
								.transition;
								border-top:1px #000 solid;
								border-bottom:1px #000 solid;
								color:#000;
								.scada(12px, bold);
								&:hover{
									color:@azul;
								}
							}
						}
						.resposta{
							max-width:250px;
							width:100%;
							box-sizing:border-box;
							padding:30px 5px;
							color:@azul;
							.scada(18px);
							text-align:center;
							.transition;
						}
					}
				}				
			}
		}
		footer{
			background:#000;
			padding:35px 0 0px 0;
			clear:both;
			.centro{
				.centralizarTablet;				
			}
			ul{
				margin-right:40px;
				margin-bottom:15px;
				display:block;
				float:left;
				clear:left;
				width:33%;
				li{
					margin-bottom:4px;
					&.toplink a{
						padding-left:0;
						background:none;
						color:#fff;
						font-weight: bold;
						text-transform: uppercase;
					}
					&.toplink + .toplink{
						margin-top:20px;
					}
					a{
						color:@cinza;
						padding-left:9px;
						background:url('../images/layout/setinha-menu-azul.png') left 47% no-repeat;
						.scada(14px);
						.transition;
						&:active, &:visited{}
						&:hover{
							color:@azulClaro;
						}
					}
				}
			}
			.listaUnidades{
				.inline;
				width:33%;
				.unidade{
					padding-left:20px;
					background:url('../images/layout/pin-endereco.png') left top no-repeat;
					h2{
						color:#fff;
						.scada(14px, bold);
						margin:4px 0;
					}
					p{
						color:@cinza;
						.scada(13px);
						line-height: 160%;
						a{
							color:@cinza;
							.transition;
							&:active, &:visited{color:@cinza;}
							&:hover{color:@azulClaro;}
						}
					}
					&:first-child{
						margin-bottom:20px;
					}
				}
			}
			.marcaPieron{
				float:right;
				margin-top: -221px;
				width:110px;
				color:#fff;
				line-height: 140%;
				.scada(13px);
				img{
					margin-bottom:25px;
				}
			}
			.assinatura{
				clear:left;
				height:35px;
				line-height:35px;
				text-align: center;
				margin-top:25px;
				display:block;
				background:#fff;
				.scada(11px);
				color:#000;
				a{
					.transition;
					color:#000;
					text-decoration: none;
					border-bottom:1px transparent dotted;
					&:active, &:visited{color:#000;}
					&:hover, &.ativo{
						border-bottom:1px #000 dotted;
					}
				}
			}
		}
	}
}
}

@media @mobile{
html{
	body{
		header{
			position:relative;
			nav{
				background:@azul;
				ul{
					font-size:0;
					padding:10px 0;
					.centralizarMobile;
					li{
						.transition;
						opacity:0;
						&#mobileAbrirMenu{
							opacity:1;
							display:block;
						}
					}
					&.mobileAberto{
						li{
							&#mobileAbrirMenu{ display:none; }
							opacity:1;
							display:block;
							margin-right:35px;
							a{
								line-height:180%;
								display:block;
								text-decoration:none;
								.scada(14px);
								color:#fff;
								.transition;
								&:active, &:visited{color:#fff;}
								&:hover, &.ativo, &.ativoTemp{color:@azulClaro;}							
							}
							&#linkLang{
								text-align:right;
								a{
									font-size:10px;
									.transition;
									&:active, &:visited{}
									&:hover{}
								}
							}
						}
					}
				}
			}
			.submenu{
				display:none;
			}
		}
		.main{
			.cke{
				width:100%;
				max-width: 500px;
				p{
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					font-size:14px;
					margin:5px 0;
					padding:0;
					max-width:100%;
					color:#4D4D4D;
					font-weight: normal;
				}
				p.destaque1{
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					margin:5px 0;
					font-size:16px;
					padding: 20px 0;
					max-width:100%;
					color:#00509F;
					font-weight: bold;
					position:relative;
				}
				p.destaque1:after{
					background:#00509F;
					width:100px;
					height:1px;
					display:block;
					content:"";
					position:absolute;
					bottom:0;
					left:0;
				}
				p.subtitulo{
					font-weight: bold;
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					margin:5px 0;
					padding:0;
					font-size:14px;
					color:#00509F;					
				}
				p.destaque2{
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					margin:2px 0;
					font-size:14px;
					color:#4D4D4D;
					max-width:100%;
					font-weight: normal;	
					padding: 10px 0;
					border-bottom:1px #4D4D4D solid;
				}		
				ul, ol{
					list-style: inside;
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					margin:5px 0;
					padding:0;
					font-size:14px;
					color:#4D4D4D;
					font-weight: normal;
				}
				ol{
					list-style: inside decimal !important;
				}
				a{
					text-decoration: none;
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					margin:5px 0;
					padding:0;
					font-size:14px;
					color:#00509F;
					font-weight: normal;
					-webkit-transition:all .3s ease-in;
				   	-moz-transition:all .3s ease-in;
				   	-o-transition:all .3s ease-in;
				   	transition:all .3s ease-in;	
				}
				a:hover{
					color:#74A0CB;
				}
				strong{font-weight: bold !important;}
				em{font-style: italic !important; }
				sub{vertical-align: sub !important; font-size:80%;}
				sup{vertical-align: super !important; font-size:80%;}
				img{
					max-width: 100%;
					display:block;
					margin:7px auto;
				}
			}
			.centro{
				.centralizarMobile;
				#topo{
					margin-bottom:30px;
					#logo-link{
						display:block;
						margin-top:30px;
						width:210px;
						height:52px;
						img{
							max-width: 100%;
							max-height: 100%;
						}
					}
					#banner-topo{
						margin-top:15px;
						img{
							//float:right;
							width: 100%;
						}
					}
				}
				#miolo{
					margin-bottom:75px;
					aside{
						margin-bottom:25px;
						h1{
							.scada(16px, bold);
							color:@azul;
							text-transform:uppercase;
							margin-bottom:7px;
						}
						ul{
							max-width:250px;
							width:100%;
							li{
								margin-bottom:5px;
								a{
									background:url('../images/layout/setinha-menu-azul.png') left center no-repeat;
									padding-left:10px;
									color:@azul;
									.scada(14px);
									.transition;
									&:active, &:visited{color:@azul;}
									&:hover, &.ativo{
										color:#000;
									}
								}
							}
						}
					}
					section{
						margin-bottom:25px;
						h1{
							.aleo(30px);
							color:@azul;
							margin-bottom:35px;
							text-transform:uppercase;
						}
					}
					#contato-local{
						form{
							.transition;
							width:100%;
							max-width:100%;
							opacity:1;
							height:auto;
							&.escondido{
								opacity:0;
								height:0;
							}
							&.enviando{
								opacity:0.5;
							}
							h2{
								.scada(16px);
								color:#000;
								margin-bottom:25px;
								text-transform:uppercase;
							}
							input[type="text"],
							input[type="email"]{
								display:block;
								border:0;
								margin:0 0 3px 0;
								padding:4px 10px;
								width:100%;
								color:#000;
								.placeholder(#000);
								.scada(12px);
								box-sizing:border-box;
								background:@cinzaClaro;
							}
							textarea{
								display:block;
								border:0;
								height:240px;
								resize:none;
								margin:0;
								padding:4px 10px;
								width:100%;
								color:#000;
								.placeholder(#000);
								.scada(12px);
								box-sizing:border-box;
								background:@cinzaClaro;
							}
							#selectPlaceholder{
								margin:0 0 3px 0;
								position:relative;
								select.selectOriginalCursosontato{
									display:block;
									border:0;
									padding:4px 10px;
									width:100%;
									color:#000;
									.placeholder(#000);
									.scada(12px);
									box-sizing:border-box;
									background:@cinzaClaro;
									position:absolute;
									z-index:9999;
								}
								.selectContato{
									display:block;
									z-index:9;
									border:0;
									padding:5px 10px;
									width:100%;
									color:#000;
									.scada(12px);
									box-sizing:border-box;
									background:url('../images/layout/seta-combobox.png') @cinzaClaro 98% center no-repeat;
								}
							}					
							input[type="submit"]{
								display:block;
								width:100%;
								height:30px;
								line-height:27px;
								text-align: right;
								border:0;
								padding:0;
								background:#fff;
								cursor:pointer;
								.transition;
								border-top:1px #000 solid;
								border-bottom:1px #000 solid;
								color:#000;
								.scada(12px, bold);
								&:hover{
									color:@azul;
								}
							}
						}
						.resposta{
							width:100%;
							box-sizing:border-box;
							padding:30px 5px;
							color:@azul;
							.scada(18px);
							text-align:center;
							.transition;
						}
					}
				}				
			}
		}
		footer{
			background:#000;
			padding:35px 0 0px 0;
			clear:both;
			.centro{
				.centralizarMobile;
			}
			ul{display:none;}
			#scrollTopBtn{
				display:block;
				padding-left:15px;
				background:url('../images/layout/seta-topo.png') left center no-repeat;
				color:#fff;
				margin-bottom: 10px;
				.scada(16px, bold);			
				.transition;
				&:active, &:visited{color:#fff;}				
			}
			.listaUnidades{
				.inline;
				.unidade{
					padding-left:20px;
					background:url('../images/layout/pin-endereco.png') left top no-repeat;
					h2{
						color:#fff;
						.scada(14px, bold);
						margin:4px 0;
					}
					p{
						color:@cinza;
						.scada(13px);
						line-height: 160%;
						a{
							color:@cinza;
							.transition;
							&:active, &:visited{color:@cinza;}
							&:hover{color:@azulClaro;}
						}
					}
					&:first-child{
						margin-bottom:20px;
					}
				}
			}
			.marcaPieron{
				width:110px;
				margin-top:15px;
				padding-left:3%;
				color:#fff;
				line-height: 140%;
				.scada(13px);
				img{
					margin-bottom:25px;
				}
				span{
					white-space: nowrap;
				}
			}
			.assinatura{
				height:35px;
				line-height:35px;
				text-align: center;
				margin-top:25px;
				display:block;
				background:#fff;
				.scada(11px);
				color:#000;
				a{
					.transition;
					color:#000;
					text-decoration: none;
					border-bottom:1px transparent dotted;
					&:active, &:visited{color:#000;}
					&:hover, &.ativo{
						border-bottom:1px #000 dotted;
					}
				}
			}
		}
	}
}	
}