@import 'vars.less';
html{
	body{
		.main .centro #miolo #contato-local form{
			float:left;			
		}
		.unidade{
			display:block;
			&:first-child{
				margin-bottom:60px;
			}
			.info{
				padding-bottom:12px;
				line-height: 20px;
				h2{
					.inline;
					width:310px;
					.scada(16px, bold);
					color:@cinzaEscuro;
					text-transform: uppercase;					
				}
				.endereco{
					.inline;
					.scada(14px);
					color:@cinzaEscuro;
					a{
						color:@cinzaEscuro;
						.transition;
						&:active, &:visited{color:@cinzaEscuro;}
						&:hover{color:@azul;}
					}
					strong{
						font-weight: bold;
					}
				}
			}
			.mapa{
				width:100%;
				height:250px;
			}
		}
	}
}
