@import 'vars.less';

html{
	body{
		.main #miolo section{
			.pad{
				width:100%;
				max-width:500px;
				@media @tablet{max-width:100%;}
			}
			h2{
				.scada(14px);
				text-transform: uppercase;
				color:@azul;
				margin-bottom:15px;
				display:block;
				position:relative;
				&:after{
					content:"";
					height:1px;
					width:100px;
					background:@azul;
					position: absolute;
					bottom:-3px;
					left:0;
				}
			}
			h3{
				.scada(22px, bold);
				color:@azul;
				margin-bottom:20px;
			}
			h4{
				color:@azul;
				text-transform: uppercase;
				margin-bottom:10px;
				.scada(11px);
				&.semturma{
					margin:30px 0;
					text-align: center;
				}
			}
			.listaTurmas{
				margin-bottom:35px;
				table.turma{
					width:100%;
					margin-bottom:10px;
					thead{
						background:@azul;
						color:#fff;
						.scada(16px, bold);
						tr{
							th{
								padding:5px 4px;
								text-align: left;
								span{
									text-transform: uppercase;
								}
							}
						}
					}
					tbody{
						tr{
							td{
								.scada(14px);
								line-height: 20px;
								color:#4D4D4D;
								&:first-child{
									padding-right:15px;									
								}
							}
							&.topo{
								td{
									&:first-child{
										width:200px;
										padding-right:0px;
									}
									.scada(12px, bold);
									padding-top: 8px;
									color:@azul;
									font-style: italic;
								}
							}
						}
					}
				}
				.botao-inscricao{
					color:@azul;
					border:1px @azul solid;
					text-align: center;
					display:block;
					height:20px;
					line-height:20px;
					.scada(14px, bold);
					.transition;
					&:active, &:visited{color:@azul;}
					&:hover{
						color:@azulClaro;		
					}
				}
			}
			.conteudo{
				margin-bottom:25px;
				h5{
					color:@azul;
					.scada(13px);
					font-style: italic;
				}
			}			
			.indexCursos{
				p.cursosOlho{
					display:block;
					.scada(13px);
					color:@cinzaEscuro;
					margin-bottom:25px;
				}
				#filtro{
					height: 22px;
					font-size: 0;
					line-height: 22px;
					margin-bottom:40px;
					a{
						&:first-child{border-right:none;}
						height: 20px;
						padding:0 12px 0 18px;
						border:1px @cinza solid;
						color:@cinza;
						font-style: italic;
						background:url('../images/layout/select-blank.png') #fff 3px center no-repeat;
						&:after{background:url('../images/layout/select-white.png') #598DC1 3px center no-repeat;}
						.scada(10px);
						.inline;
						.transition;
						&:active, &:visited{color:@cinza;}
						&:hover{
							background:url('../images/layout/select-white.png') #598DC1 3px center no-repeat;
							color:#fff;
						}
						&.selecionado{
							background:url('../images/layout/select-checked.png') #598DC1 3px center no-repeat;
							color:#fff;
						}
					}
					position:relative;
					select.selectOriginalCursos{
						right:0;
						z-index:9;
						width:200px;
						padding-left:5px;
						.scada(11px);
						color:@cinza;
						background:#fff;
						@media @mobile{
							top: 25px;
						}
						optgroup{
							padding:0;
							margin:0;
							font-size: 13px;
						}
					}
					.selectCursos{
						width:200px;
						right:0;
						top: 0;
						@media @mobile{
							top: 25px;
						}
						position:absolute;
						z-index:7;
						.scada(11px);
						color:@cinza;
						font-style: italic;
						height:20px;
						line-height:20px;
						padding-left:5px;
						display:block;
						border:1px @cinza solid;
						&:after{
							position:absolute;
							height:20px;
							width:20px;
							border-left:1px @cinza solid;
							content:"";
							display:block;
							top:0;
							right:0;
							background:url('../images/layout/seta-combobox-cinza.png') center center no-repeat;
						}						
					}
				}
				#lista-cursos{
					table{
						width:100%;
						thead{
							border-bottom:1px @azul solid;
							tr{
								th{
									color:@azul;
									.scada(11px);
									text-align:left;
									&:first-child{
										text-indent:4px;
									}
								}
							}
						}
						tbody{
							tr{
								display:table-row;
								border-bottom:1px @cinza solid;
								&.titulo{
									border-bottom:none;
									td{
										color:@azul;
										.scada(13px, bold);
										padding-top:20px;
									}
								}
								&:hover{
									a{
										background:@azul;
										color:#fff;
										&:active, &:visited{color:#fff;}
										&:before{color:#fff !important;}
									}
								}
								td{
									&:first-child{
										max-width:331px;
										@media @tablet_e_desktop{
											text-overflow:ellipsis;
											overflow:hidden;
											white-space: nowrap;
											a{
												text-overflow: ellipsis;
												overflow: hidden;
												white-space: nowrap;
											}
										}
										a:before{
											.transition;
											content:"•";
											color:@azul;
											margin-right:3px;											
										}
									}
									@media @mobile{
										padding:0 5px;
									}
									&:nth-child(2){
										@media @mobile{
											a{text-align:center;}
										}
									}
									&:last-child{
										a{
											white-space: nowrap;
										}
									}
									a{
										padding:4px 0 3px 0;
										display:block;
										.scada(12px);
										color:@cinzaEscuro;
										.transition;
										&:active, &:visited{color:@cinzaEscuro;}
										&:hover{}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}