@import 'vars.less';

@media @desktop{
html{
	body{		
		#logo-link{
			z-index:999999;
			position:absolute;
			margin-top:60px;
			margin-left:3%;
			width:210px;
			height:52px;
			display:block;
			img{
				max-width:100%;
				max-height:100%;
			}
		}		
		#banners{
			height:100%;
			width:100%;
			position:relative;
			.banner{
				height:100%;
				width:100%;
				position:absolute;
				top:0;
				left:0;
				background-position: center bottom;
				background-repeat: no-repeat;
				background-size: cover;
				.texto{
					position:absolute;
					left:0;
					padding-left:25px;
					@media (min-height: 0px) and (max-height: 820px) {
						bottom:260px;
					}
					@media (min-height: 821px){
						bottom:45%;
					}
					p{
						line-height: 160%;
						color:@azul;
						.aleo(40px);
					}
				}
			}
		}
		#chamadas{
			position: absolute;
			z-index:9999;
			left:0;
			bottom:0;
			width:100%;
			background: rgba(0,80,159,.9);
			background: url('rgba.php/rgba(0,80,159,.9)');
			.centro{
				.centralizarDesktop;
				padding:50px 0 38px 0;
				background:url('../images/layout/p-pieron.png') left 50px no-repeat;
				height:172px;
				.listaChamadas{
					font-size:0;
					float:right;
					height:120px;
					a{
						.inline;
						width:200px;
						height:120px;
						margin-left:10px;
						position:relative;
						.transition;
						&:active, &:visited{}
						&:hover{
							.overlay{
								opacity:1;
							}
						}
						.texto{
							position:absolute;
							left:10px;
							bottom:10px;
							color:#fff;
							.scada(14px);
							z-index:5;
						}
						.overlay{
							position:absolute;
							display:block;
							z-index:4;
							width:100%;
							height:100%;
							opacity:0;
							background: rgba(0,80,159,.6);
							background: url('rgba.php/rgba(0,80,159,.6)');
							//background: rgba(168,168,168,.6);
							//background: url('rgba.php/rgba(168,168,168,.6)');
							.transition;
						}
						img{
							max-width:100%;
							left:0;
							top:0;
							position:absolute;
							z-index:3;
							filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
						    filter: gray;
						    -webkit-filter: grayscale(100%);
						}
					}
				}
				#cadastroNewsletter{
					clear:right;
					float:right;
					margin-top:30px;
					height:20px;
					font-size: 0;
					h3{
						color:#fff;
						height:20px;
						line-height:20px;
						.inline;
						.scada(14px);
					}
					.containerForm{
						height:20px;
						line-height:20px;
						overflow: hidden;
						width:645px;
						.inline;
						#form-newsletter{
							display:block;
							height:20px;
							margin:0;
							padding: 0;
							opacity:1;
							.transition;
							&.escondido{
								opacity:0;
								margin-top:-20px;
							}
							input[type="text"],
							input[type="email"]{
								border:0;
								margin:0 0 0 15px;
								padding:3px 5px;
								height:14px;
								line-height:14px;
								background:@azul;
								width:250px;
								color:#fff;
								.inline;
								.scada(12px);
								.placeholder(#fff);
							}
							input[type="submit"]{
								border:0;
								margin:0 0 0 15px;
								padding:0 20px;
								height:20px;
								line-height:20px;
								text-align:center;
								color:#fff;
								background:@azul;
								cursor:pointer;
								.inline;
								.transition;
								.scada(12px);
								&:hover{
									color:@azulClaro;
								}
							}
						}
						.resposta{
							.transition;
							height:20px;
							line-height:20px;
							margin:0;
							padding: 0;
							text-align:center;
							color:#fff;
							.scada(14px);
						}
					}
				}
			}
		}
	}
}
}

@media @tablet{
html{
	body{		
		#logo-link{
			z-index:999999;
			position:absolute;
			margin-top:60px;
			margin-left:3%;
			width:210px;
			height:52px;
			display:block;
			img{
				max-width:100%;
				max-height:100%;
			}
		}		
		#banners{
			height:100%;
			width:100%;
			position:relative;
			.banner{
				height:100%;
				width:100%;
				position:absolute;
				top:0;
				left:0;
				background-position: center bottom;
				background-repeat: no-repeat;
				background-size: cover;
				.texto{
					position:absolute;
					left:0;
					padding-left:25px;
					@media (min-height: 0px) and (max-height: 820px) {
						bottom:260px;
					}
					@media (min-height: 821px){
						bottom:45%;
					}
					p{
						line-height: 160%;
						color:@azul;
						.aleo(40px);
					}
				}
			}
		}
		#chamadas{
			position: absolute;
			z-index:9999;
			left:0;
			bottom:0;
			width:100%;
			background: rgba(0,80,159,.9);
			background: url('rgba.php/rgba(0,80,159,.9)');
			.centro{
				.centralizarTablet;
				padding:50px 0 38px 0;
				background:none;
				height:auto;
				.listaChamadas{
					font-size:0;
					min-height:120px;
					height:auto;
					float:none;
					a{
						.inline;
						margin-left:10px;
						position:relative;						
						width:23%;
						height: 100px;
						.transition;
						&:active, &:visited{}
						&:hover{
							.overlay{
								opacity:1;
							}
						}
						.texto{
							position:absolute;
							left:10px;
							bottom:10px;
							color:#fff;
							.scada(14px);
							z-index:5;
						}
						.overlay{
							position:absolute;
							display:block;
							z-index:4;
							width:100%;
							height:100%;
							opacity:0;
							background: rgba(0,80,159,.6);
							background: url('rgba.php/rgba(0,80,159,.6)');
							//background: rgba(168,168,168,.6);
							//background: url('rgba.php/rgba(168,168,168,.6)');
							.transition;
						}
						img{
							max-width:100%;
							left:0;
							top:0;
							position:absolute;
							z-index:3;
							filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
						    filter: gray;
						    -webkit-filter: grayscale(100%);
						}
					}
				}
				#cadastroNewsletter{
					clear:right;
					height:20px;
					font-size: 0;				
					margin-top:10px;
					float:none;
					h3{
						color:#fff;
						height:20px;
						line-height:20px;
						padding-left: 15px;
						.inline;
						.scada(14px);
						margin:0 15px 0 0;
					}
					.containerForm{
						height:20px;
						line-height:20px;
						overflow: hidden;
						width:645px;
						.inline;
						#form-newsletter{
							display:block;
							height:20px;
							margin:0;
							padding: 0;
							opacity:1;
							.transition;
							&.escondido{
								opacity:0;
								margin-top:-20px;
							}
							input[type="text"],
							input[type="email"]{
								border:0;
								margin:0 0 0 15px;
								@media @tablet{margin:0 15px 0 0;}
								padding:3px 5px;
								height:14px;
								line-height:14px;
								background:@azul;
								width:250px;
								color:#fff;
								.inline;
								.scada(12px);
								.placeholder(#fff);
							}
							input[type="submit"]{
								border:0;
								margin:0 0 0 15px;
								padding:0 20px;
								height:20px;
								line-height:20px;
								text-align:center;
								color:#fff;
								background:@azul;
								cursor:pointer;
								.inline;
								.transition;
								.scada(12px);
								&:hover{
									color:@azulClaro;
								}
							}
						}
						.resposta{
							.transition;
							height:20px;
							line-height:20px;
							margin:0;
							padding: 0;
							text-align:center;
							color:#fff;
							.scada(14px);
						}
					}
				}
			}
		}
	}
}
}

@media @mobile{
html{
	body{		
		#logo-link{
			margin-top:30px;
			margin-left:3%;
			width:180px;
			height:52px;
			display:block;
			margin-bottom: 10px;
			img{
				max-width:100%;
				max-height:100%;
			}
		}		
		#banners{
			position:relative;
			.banner{
				background: none !important;
				.texto{
					p{
						margin-left:3%;
						line-height: 110%;
						color:@azul;
						.aleo(25px);
					}
				}
			}
		}
		#chamadas{
			background: @azul;
			padding-top:10px;
			padding-bottom:10px;
			.centro{
				.centralizarMobile;
				.listaChamadas{
					font-size:0;
					a{
						.inline;
						width:48%;
						margin-bottom:5px;
						margin-right:5px;
						position:relative;
						.transition;
						&:active, &:visited{}
						&:hover{
							.overlay{
								opacity:1;
							}
						}
						.texto{
							left:10px;
							bottom:10px;
							color:#fff;
							.scada(14px);
							z-index:5;
						}
						.overlay{
							display:block;
							z-index:4;
							width:100%;
							height:100%;
							opacity:0;
							background: rgba(0,80,159,.6);
							background: url('rgba.php/rgba(0,80,159,.6)');
							.transition;
						}
						img{
							max-width:100%;
							filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
						    filter: gray;
						    margin-bottom:3px;
						    -webkit-filter: grayscale(100%);
						}
					}
				}
				#cadastroNewsletter{
					margin-top:10px;
					font-size: 0;
					h3{
						color:#fff;
						height:20px;
						line-height:20px;
						.inline;
						.scada(14px);						
					}
					.containerForm{
						line-height:20px;
						overflow: hidden;
						max-width:100%;
						.inline;
						#form-newsletter{
							display:block;
							margin:0;
							padding: 0;
							opacity:1;
							.transition;
							&.escondido{
								opacity:0;
								margin-top:-72px;
							}
							input[type="text"],
							input[type="email"]{
								border:1px #fff solid;
								margin-bottom:4px;
								padding:3px 5px;
								height:14px;
								line-height:14px;
								background:@azul;
								width:250px;
								color:#fff;
								display:block;
								.scada(12px);
								.placeholder(#fff);
							}
							input[type="submit"]{
								border:1px #fff solid;
								margin:0;
								padding:0 20px;
								height:20px;
								line-height:20px;
								text-align:center;
								color:#fff;
								background:@azul;
								cursor:pointer;
								display:block;
								.transition;
								.scada(12px);
								&:hover{
									color:@azulClaro;
								}
							}
						}
						.resposta{
							.transition;
							height:20px;
							line-height:20px;
							margin:0;
							padding: 0;
							text-align:center;
							color:#fff;
							.scada(14px);
						}
					}
				}
			}
		}
	}
}
}