@import 'vars.less';

html{
	body{
		header{
			position:relative;
			nav{
				height:40px;
				background:@azul;
				ul{
					font-size:0;
					li{
						.inline;
						margin-right:35px;
						a{
							height:40px;
							line-height:40px;
							display:block;
							text-decoration:none;
							.scada(14px);
							color:#fff;
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover, &.ativo, &.ativoTemp{color:@azulClaro;}							
						}
						&#linkLang{
							float:right;
							a{
								font-size:10px;
								.transition;
								&:active, &:visited{}
								&:hover{}
							}
						}
					}
				}
			}
			.submenu{
				position:absolute;
				left:0;
				top:40px;
				width:100%;
				margin-top: 1px;
				background: rgba(0,80,159,.9);
				background: url('rgba.php/rgba(0,80,159,.9)');
				padding:0;
				opacity:0;
				z-index:-1;
				.transition;
				&.aberto{
					padding:15px 0;
					opacity:1;
					z-index:9999999;
					ul{opacity:1;}
					&.aberto-pieron{
						.sub-pieron{
							display:block;
						}
						.sub-atuacao{
							display:none
						}
					}
					&.aberto-atuacao{
						.sub-pieron{
							display:none
						}						
						.sub-atuacao{
							display:block;
						}
					}
				}
				ul{
					font-size:0;
					opacity:0;
					.transition;
					&.sub-pieron{
						display:none;
					}
					&.sub-atuacao{
						display:none;
						margin-left:90px;
					}
					li{
						margin-bottom:10px;
						&:last-child{margin-bottom:0;}
						a{
							color:#fff;
							text-decoration:none;
							padding-left:9px;
							background:url('../images/layout/setinha-submenu-azulclaro.png') left 47% no-repeat;
							.scada(14px);
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover, &.ativo{color:@azulClaro;}
						}
					}
				}	
			}
		}
		.main{
			.cke{
				width:100%;
				max-width: 500px;
				p{
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					font-size:14px;
					margin:5px 0;
					padding:0;
					max-width:100%;
					color:#4D4D4D;
					font-weight: normal;
				}
				p.destaque1{
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					margin:5px 0;
					font-size:16px;
					padding: 20px 0;
					max-width:100%;
					color:#00509F;
					font-weight: bold;
					position:relative;
				}
				p.destaque1:after{
					background:#00509F;
					width:100px;
					height:1px;
					display:block;
					content:"";
					position:absolute;
					bottom:0;
					left:0;
				}
				p.subtitulo{
					font-weight: bold;
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					margin:5px 0;
					padding:0;
					font-size:14px;
					color:#00509F;					
				}
				p.destaque2{
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					margin:2px 0;
					font-size:14px;
					color:#4D4D4D;
					max-width:100%;
					font-weight: normal;	
					padding: 10px 0;
					border-bottom:1px #4D4D4D solid;
				}		
				ul, ol{
					list-style: inside;
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					margin:5px 0;
					padding:0;
					font-size:14px;
					color:#4D4D4D;
					font-weight: normal;
				}
				ol{
					list-style: inside decimal !important;
				}
				a{
					text-decoration: none;
					font-family: 'Scada', sans-serif;
					line-height: 20px;
					margin:5px 0;
					padding:0;
					font-size:14px;
					color:#00509F;
					font-weight: normal;
					-webkit-transition:all .3s ease-in;
				   	-moz-transition:all .3s ease-in;
				   	-o-transition:all .3s ease-in;
				   	transition:all .3s ease-in;	
				}
				a:hover{
					color:#74A0CB;
				}
				strong{font-weight: bold !important;}
				em{font-style: italic !important; }
				sub{vertical-align: sub !important; font-size:80%;}
				sup{vertical-align: super !important; font-size:80%;}
				img{
					max-width: 100%;
					display:block;
					margin:7px auto;
				}
			}
			.centro{
				.centralizar;
				#topo{
					margin-bottom:60px;
					#logo-link{
						display:block;
						margin-top:60px;
						width:210px;
						height:52px;
						img{
							max-width: 100%;
							max-height: 100%;
						}
					}
					#banner-topo{
						img{
							//float:right;
							width: 100%;
						}
					}
				}
				#miolo{
					margin-bottom:75px;
					aside{
						h1{
							.scada(16px, bold);
							color:@azul;
							text-transform:uppercase;
							margin-bottom:7px;
						}
						ul{
							max-width:250px;
							width:100%;
							li{
								margin-bottom:5px;
								a{
									background:url('../images/layout/setinha-menu-azul.png') left center no-repeat;
									padding-left:10px;
									color:@azul;
									.scada(14px);
									.transition;
									&:active, &:visited{color:@azul;}
									&:hover, &.ativo{
										color:#000;
									}
								}
							}
						}
					}
					section{
						h1{
							.aleo(30px);
							color:@azul;
							margin-bottom:35px;
							text-transform:uppercase;
						}
					}
					#contato-local{
						form{
							.transition;
							max-width:250px;
							width:100%;
							opacity:1;
							height:auto;
							&.escondido{
								opacity:0;
								height:0;
							}
							&.enviando{
								opacity:0.5;
							}
							h2{
								.scada(16px);
								color:#000;
								margin-bottom:25px;
								text-transform:uppercase;
							}
							input[type="text"],
							input[type="email"]{
								display:block;
								border:0;
								margin:0 0 3px 0;
								padding:4px 10px;
								width:100%;
								color:#000;
								.placeholder(#000);
								.scada(12px);
								box-sizing:border-box;
								background:@cinzaClaro;
							}
							textarea{
								display:block;
								border:0;
								height:240px;
								resize:none;
								margin:0;
								padding:4px 10px;
								width:100%;
								color:#000;
								.placeholder(#000);
								.scada(12px);
								box-sizing:border-box;
								background:@cinzaClaro;
							}
							#selectPlaceholder{
								margin:0 0 3px 0;
								position:relative;
								select.selectOriginalCursosontato{
									display:block;
									border:0;
									padding:4px 10px;
									width:100%;
									color:#000;
									.placeholder(#000);
									.scada(12px);
									box-sizing:border-box;
									background:@cinzaClaro;
									position:absolute;
									z-index:9999;
								}
								.selectContato{
									display:block;
									z-index:9;
									border:0;
									padding:5px 10px;
									width:100%;
									color:#000;
									.scada(12px);
									box-sizing:border-box;
									background:url('../images/layout/seta-combobox.png') @cinzaClaro 98% center no-repeat;
								}
							}					
							input[type="submit"]{
								display:block;
								width:100%;
								height:30px;
								line-height:27px;
								text-align: right;
								border:0;
								padding:0;
								background:#fff;
								cursor:pointer;
								.transition;
								border-top:1px #000 solid;
								border-bottom:1px #000 solid;
								color:#000;
								.scada(12px, bold);
								&:hover{
									color:@azul;
								}
							}
						}
						.resposta{
							max-width:250px;
							width:100%;
							box-sizing:border-box;
							padding:30px 5px;
							color:@azul;
							.scada(18px);
							text-align:center;
							.transition;
						}
					}
				}				
			}
		}
		footer{
			background:#000;
			padding:35px 0 0px 0;
			clear:both;
			.centro{
				.centralizar;				
			}
			ul{
				margin-right:40px;
				.inline;
				li{
					margin-bottom:4px;
					&.toplink a{
						padding-left:0;
						background:none;
						color:#fff;
						font-weight: bold;
						text-transform: uppercase;
					}
					&.toplink + .toplink{
						margin-top:20px;
					}
					a{
						color:@cinza;
						padding-left:9px;
						background:url('../images/layout/setinha-menu-azul.png') left 47% no-repeat;
						.scada(14px);
						.transition;
						&:active, &:visited{}
						&:hover{
							color:@azulClaro;
						}
					}
				}
			}
			.listaUnidades{
				.inline;
				.unidade{
					padding-left:20px;
					background:url('../images/layout/pin-endereco.png') left top no-repeat;
					h2{
						color:#fff;
						.scada(14px, bold);
						margin:4px 0;
					}
					p{
						color:@cinza;
						.scada(13px);
						line-height: 160%;
						a{
							color:@cinza;
							.transition;
							&:active, &:visited{color:@cinza;}
							&:hover{color:@azulClaro;}
						}
					}
					&:first-child{
						margin-bottom:20px;
					}
				}
			}
			.marcaPieron{
				float:right;
				width:110px;
				color:#fff;
				line-height: 140%;
				.scada(13px);
				img{
					margin-bottom:25px;
				}
			}
			.assinatura{
				height:35px;
				line-height:35px;
				text-align: center;
				margin-top:25px;
				display:block;
				background:#fff;
				.scada(11px);
				color:#000;
				a{
					.transition;
					color:#000;
					text-decoration: none;
					border-bottom:1px transparent dotted;
					&:active, &:visited{color:#000;}
					&:hover, &.ativo{
						border-bottom:1px #000 dotted;
					}
				}
			}
		}
	}
}

html{
	body{		
		#logo-link{
			z-index:999999;
			position:absolute;
			margin-top:60px;
			margin-left:3%;
			width:210px;
			height:52px;
			display:block;
			img{
				max-width:100%;
				max-height:100%;
			}
		}		
		#banners{
			height:100%;
			width:100%;
			position:relative;
			.banner{
				height:100%;
				width:100%;
				position:absolute;
				top:0;
				left:0;
				background-position: center bottom;
				background-repeat: no-repeat;
				background-size: cover;
				.texto{
					position:absolute;
					left:0;
					padding-left:25px;
					@media (min-height: 0px) and (max-height: 820px) {
						bottom:260px;
					}
					@media (min-height: 821px){
						bottom:45%;
					}
					p{
						line-height: 160%;
						color:@azul;
						.aleo(40px);
					}
				}
			}
		}
		#chamadas{
			position: absolute;
			z-index:9999;
			left:0;
			bottom:0;
			width:100%;
			background: rgba(0,80,159,.9);
			background: url('rgba.php/rgba(0,80,159,.9)');
			.centro{
				.centralizar;
				padding:50px 0 38px 0;
				background:url('../images/layout/p-pieron.png') left 50px no-repeat;
				height:172px;
				.listaChamadas{
					font-size:0;
					float:right;
					height:120px;
					a{
						.inline;
						width:200px;
						height:120px;
						margin-left:10px;
						position:relative;
						.transition;
						&:active, &:visited{}
						&:hover{
							.overlay{
								opacity:1;
							}
						}
						.texto{
							position:absolute;
							left:10px;
							bottom:10px;
							color:#fff;
							.scada(14px);
							z-index:5;
						}
						.overlay{
							position:absolute;
							display:block;
							z-index:4;
							width:100%;
							height:100%;
							opacity:0;
							background: rgba(0,80,159,.6);
							background: url('rgba.php/rgba(0,80,159,.6)');
							//background: rgba(168,168,168,.6);
							//background: url('rgba.php/rgba(168,168,168,.6)');
							.transition;
						}
						img{
							max-width:100%;
							left:0;
							top:0;
							position:absolute;
							z-index:3;
							filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
						    filter: gray;
						    -webkit-filter: grayscale(100%);
						}
					}
				}
				#cadastroNewsletter{
					clear:right;
					float:right;
					margin-top:30px;
					height:20px;
					font-size: 0;
					h3{
						color:#fff;
						height:20px;
						line-height:20px;
						.inline;
						.scada(14px);
					}
					.containerForm{
						height:20px;
						line-height:20px;
						overflow: hidden;
						width:645px;
						.inline;
						#form-newsletter{
							display:block;
							height:20px;
							margin:0;
							padding: 0;
							opacity:1;
							.transition;
							&.escondido{
								opacity:0;
								margin-top:-20px;
							}
							input[type="text"],
							input[type="email"]{
								border:0;
								margin:0 0 0 15px;
								padding:3px 5px;
								height:14px;
								line-height:14px;
								background:@azul;
								width:250px;
								color:#fff;
								.inline;
								.scada(12px);
								.placeholder(#fff);
							}
							input[type="submit"]{
								border:0;
								margin:0 0 0 15px;
								padding:0 20px;
								height:20px;
								line-height:20px;
								text-align:center;
								color:#fff;
								background:@azul;
								cursor:pointer;
								.inline;
								.transition;
								.scada(12px);
								&:hover{
									color:@azulClaro;
								}
							}
						}
						.resposta{
							.transition;
							height:20px;
							line-height:20px;
							margin:0;
							padding: 0;
							text-align:center;
							color:#fff;
							.scada(14px);
						}
					}
				}
			}
		}
	}
}

h1#pagenotfound{
	display:block;
	margin:100px 0;
	text-align:center;
	color:@azul;
	.scada(30px);
}

#scrollTopBtn,
#mobileAbrirMenu{
	display:none;	
}
