@import 'vars.less';

html{
	body{	
		section{
			#listaHistoria{
				width:100%;
				max-width: 500px;
				@media @tablet{max-width: 100%;}
				border-top:1px @azul solid;
				.historico{
					margin:5px 0;
					border-bottom:10px @azul solid;
					&:last-child{
						border-bottom:none;
						p:last-child{border-color:@azul;}
					}
					h2{
						color:@azul;
						margin:20px 0 0px 0;
						.scada(16px);
					}
				}
			}
			#listaEquipe{
				border-top:1px @azul solid;
				max-width:500px;
				width:100%;
				margin-top:40px;
				@media @tablet{max-width: 100%;}
				.membroEquipe{
					.superior{
						margin:20px 0 0 0;
						min-height:130px;
						img{
							float:left;
							max-width: 120px;
							max-height: 130px;
							margin-right:20px;
						}
						h2{
							color:@azul;
							.scada(16px);
							margin-bottom:5px;
						}
						h3{
							color:@azul;
							font-style: italic;
							.scada(14px);
						}								
					}
					.detalhe{
						height:0;
						opacity:0;
						overflow: hidden;
						.transition;
						&.aberto{
							height:auto;
							opacity:1;
						}
					}
					.botao-toggle{
						display:block;
						height:20px;
						text-align:right;
						color:@azul;
						.transition;
						border-bottom:1px @azul solid;
						.scada(12px);
						&:active, &:visited{color:@azul;}
						&:hover{color:#000;}
						span{
							.transition;
							.inline;
							&.rotacionado{
								-moz-transform: rotate(-90deg);
								-webkit-transform: rotate(-90deg);
								-o-transform: rotate(-90deg);
								-ms-transform: rotate(-90deg);
								transform: rotate(-90deg);
							}
						}
					}
				}
			}
		}
	}
}
