@import 'vars.less';
html{
	body{
		#listaArtigos{
			max-width:500px;
			@media @tablet{max-width:100%;}
			li{
				a{
					display:block;
					margin-bottom:20px;
					border-bottom: 1px @azul solid;
					padding-bottom: 10px;
					.transition;
					&:active, &:visited{}
					h2{
						color:@azul;
						.scada(16px);
						line-height: 130%;
					}
					h3{
						color:@azul;
						.scada(11px);
						font-style: italic;
					}
					.olho{
						margin: 15px 0;
						.scada(14px);
						line-height: 140%;
						color:@cinzaEscuro;
					}
					.leiamais{
						.transition;
						text-align:right;
						.scada(10px);
						font-style: italic;
						color:@azul;
					}
					&:hover .leiamais{color:@cinzaEscuro;}
				}
			}
		}
		#listaClipping{
			max-width:500px;
			@media @tablet{max-width:100%;}
			margin-bottom:15px;
			li{
				display:block;
				border-bottom: 1px @cinza solid;
				a{
					.imagem{
						float:left;
						margin:0 20px 0 0;
					}
					display:block;
					min-height:75px;
					padding:10px 0 20px 0;
					color:@cinza;
					.scada(16px);
					.transition;
					&:active, &:visited{color:@cinza;}
					&:hover{color:#000;}
					.texto{
						line-height: 140%;
						padding-top:15px;
					}
				}
			}
		}
		ul.pagination{
			max-width:500px;
			@media @tablet{max-width:100%;}
			font-size: 0;
			li{
				width:15px;
				height:15px;
				margin-right:3px;
				.inline;
				&.disabled{
					display: none;
				}
				&.active{
					span{background:@azul;}
				}
				a, span{
					width:15px;
					height:15px;
					line-height:15px;
					text-align: center;
					.scada(10px, bold);
					display:block;
					background:@cinza;
					color:#000;
					.transition;
					&:active, &:visited{}
					&:hover{
						background:@azul;
					}
				}
			}
		}
		aside{
			h3{
				color:@azul;
				.scada(14px, bold);
				display:block;
				margin-top:40px;
				border-bottom:1px @cinzaEscuro solid;
				padding-bottom: 3px;
				max-width: 250px;
			}
			ul#listaArtigosLateral{
				li{
					background: #fff;
					padding:0;
					a{
						display:block;
						background: #fff !important;
						padding:8px 0 !important;
						border-bottom:1px @cinzaEscuro solid;						
					}
				}
			}
			a.vertodos{
				display:block;
				max-width: 250px;
				margin-top:10px;
				background: @azul;
				color:#fff;
				text-indent:15px;
				height:20px;
				line-height:20px;
				.scada(11px, bold);
				font-style: italic;
				.transition;
				&:active, &:visited{}
				&:hover{
					background: @azulClaro;
					color:#000;
				}
			}
		}
		#detalhesArtigo{
			h2{
				.scada(20px);
				color:@azul;
				line-height: 130%;
				max-width: 500px;
				@media @tablet{max-width:100%;}
			}
			h3{
				color:@azul;
				.scada(11px);
				font-style: italic;
				line-height: 130%;
				display:block;
				padding-bottom: 3px;
				border-bottom: 1px @azulClaro solid;
				margin:15px 0 10px 0;
				max-width: 500px;
				@media @tablet{max-width:100%;}
			}
			.download{
				height:30px;
				position:relative;
				max-width: 500px;
				@media @tablet{max-width:100%;}
				&:before{
					content:"";
					display:block;
					height:1px;
					width:100%;
					top:14px;
					left:0;
					background:@azul;
					position: absolute;
				}
				a{
					height:30px;
					line-height:30px;
					background:url('../images/layout/pdf-icon.png') #fff 10px center no-repeat;
					text-transform: uppercase;
					padding-left:40px;
					color:@azul;
					position:absolute;
					top:0;
					right:0;
					.scada(12px);
					.transition;
					&:active, &:visited{color:@azul;}
					&:hover{color:#000;}
				}
			}
			#navegacao{
				max-width: 500px;
				@media @tablet{max-width:100%;}
				.links{
					height:25px;
					line-height:25px;
					.anterior{
						float:left;
					}
					.proximo{
						float:right;
					}
					a{
						color:@azul;
						.scada(12px);
						.transition;
						&:active, &:visited{color:@azul;}
						&:hover{color:#000;}
					}
				}
				.vertodos{
					display:block;
					margin-top:10px;
					background: @azul;
					color:#fff;
					text-indent:15px;
					height:20px;
					line-height:20px;
					.scada(11px, bold);
					font-style: italic;
					.transition;
					&:active, &:visited{}
					&:hover{
						background: @azulClaro;
						color:#000;
					}
				}
			}
		}
	}
}
