@import url('http://fonts.googleapis.com/css?family=Scada:400italic,700italic,400,700');

@mobile:    ~"(min-width: 0px) and (max-width: 568px)";
@tablet:    ~"(min-width: 569px) and (max-width: 1169px)";
@desktop:   ~"(min-width: 1170px)";

@mobile_e_tablet:  ~"(min-width: 0px) and (max-width: 1023px)";
@tablet_e_desktop: ~"(min-width: 569px)";

@azul:#00509F;
@azulClaro:#74A0CB;
@cinza:#919191;
@cinzaClaro:#EBEBEB;
@cinzaEscuro:#4D4D4D;

a{
	text-decoration: none;
}
.centralizar{
	width:100%;
	margin:0 auto;
	max-width:1170px !important;
	padding-left:0;
	padding-right:0;
}
.centralizarDesktop{
	width:100%;
	margin:0 auto;
	max-width:1170px !important;
	padding-left:0;
	padding-right:0;
}
.centralizarTablet{
	width:100%;
	margin:0 auto;
	max-width:1024px !important;
	padding-left:3%;
	padding-right:3%;		
	box-sizing: border-box;
}
.centralizarMobile{
	width:100%;
	margin:0 auto;	
	max-width:568px !important;
	padding-left:3%;
	padding-right:3%;
	box-sizing: border-box;
}
.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}

.arial(@fsize:12px, @fweight:normal){
	font-family: 'Arial', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.scada(@fsize:12px, @fweight:normal){
	font-family: 'Scada', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.aleo(@fsize:12px, @fweight:normal){
	font-family: 'aleoregular', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
	behavior:url('PIE.htc');
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;
   -moz-transition:@prop @dur @type;
   -o-transition:@prop @dur @type;
   transition:@prop @dur @type;
}
.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }
.offscreen{
	display:block;
	text-indent:-999999999px;
}
.clear{ clear: both; }
.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}
.escondido{display:none;}
.rgba(@r:0,@g:0,@b:0,@a:1){
	background:url('rgba.php/rgba(@r,@g,@b,@a)');
	background:rgba(@r,@g,@b,@a);
}

.hide-full{
	@media only screen and (min-width: 768px) {
		display:none !important;
	}
}

.hide-mobile{
	@media only screen and (max-width: 767px) {
		display:none !important;
	}
}
